.add-entry-buttons {
  grid-column-start: 2;

  button {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    border: 0.07rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 100%;
    &:hover {
      background-color: #ccc
    }
  }
}