.display-entries {
  grid-column-start: 2;

  table {
    width: 100%;
    text-align: left;

    &, th, td {
      border: 2px solid rgb(222, 226, 230);
    }

    tr:nth-child(even) {
      background-color: #eee;
    }

    th {
      font-weight: 700;
      padding: 12px;
    }

    td {
      padding: 6px 12px;
      
      input {
        width: 50px;
        margin-right: 5px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 2px;
      }
    }
  }  
}

