header {
  width: 100%;
  min-height: 70px;
  background-color: #333;
  padding: 20px 10px 3px 10px;
  transition: height 0.3s;

  h1 {
    color: #eee;
    font-size: 170%;
    display: inline-block;
  }

  .hamburger-menu-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    height: 30px;
    width: 30px;
    display: none;
    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
    }
  }

  nav {
    
    position: relative;
    display: inline-block;
    margin: 0 25px;

    a.navigation-link{
      color: #eee;
      text-decoration: none;
      cursor: pointer;
      font-size: 110%;
      margin: 0 8px;

      @media screen and (max-width: $breakpoint-tablet) {
        display: none;

        &.expand {
          display: block;
          margin: 0.5rem 0;
        }
      }
    }

    
  }

  .login {
    display: inline-block;
    
    input {
      border: 1px solid #ced4da;
      margin: 5px;
      border-radius: 3px;
      padding: 5px;
    }

  }
  button {
    // display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    cursor: pointer;
    float: right;
  }

  #profile {
    float: right;
  }
}